<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Añadir puntuaciones </h3>
  


<form action="/point/add" method="post" class="row g-3">
  <form action="/point/add" method="post">

   <div class="col-auto">
      <label for="username">Write a username </label>
      <input
        id="username"
        class="form-control rounded-0 bg-dark text-white"
        type="text"
        name="username"
        placeholder="username"
        autofocus
      />
  </div>

  <div class="col-auto">
      <label for="description">Description</label>
        <input
            id="description"
            class="form-control rounded-0 bg-dark text-white"
            type="text"
            name="description"
            placeholder="description"
            autofocus
        />
  </div>
  <div class="col-auto">
      <label for="point">Puntos</label>
        <input
            id="point"
            class="form-control rounded-0 bg-dark text-white"
            type="text"
            name="point"
            placeholder="puntos"
            autofocus
        />
  </div>
  <button class="btn btn-primary" type="submit">Add</button>

  
</form>

</div>