<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Añadir A Empleado</h3>
  <form action="/empleados/add" method="post">

    {{! Username Input }}
    <div class="mb-3">
      <label for="username">Write a Username</label>
      <input
        id="username"
        class="form-control rounded-0 bg-dark text-white"
        type="text"
        name="username"
        placeholder="username"
        autofocus
      />
    </div>

    {{! Email Input }}
    <div class="mb-3">
      <label for="email">Email</label>
        <input
            id="email"
            class="form-control rounded-0 bg-dark text-white"
            type="text"
            name="email"
            placeholder="email"
            autofocus
        />

    </div>

    <button class="btn btn-primary" type="submit">Add</button>
  </form>
</div>