<div class="container">
  <div class="row">
    <!--FORM-->
    <div class="col-md-5 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1>Actualizar Notificacion</h1>

          <form action="/notification/{{notification._id}}/edit" method="post">

            <div class="mb-3">
              <textarea
                class="form-control"
                name="title"
                rows="3"
                placeholder="Add a title"
              >{{notification.title}}</textarea>
            </div>

            <div class="mb-3">
              <textarea
                class="form-control"
                name="description"
                rows="3"
                placeholder="Add a description"
              >{{notification.description}}</textarea>
            </div>

            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                name="username"
                placeholder="username"
                value="{{notification.username}}"
              />
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>