
<div class="container p-5">
  <div class="row">

    <div class="col-md-5">
      {{> empleados/empleadosForm }}
    </div>

    <div class="col-md-7">
      {{> empleados/empleadosTable }}
    </div>
  </div>
</div>