
<div class="container p-5">
  <div class="row">

    <div class="row">
      {{> notifications/notificationForm}}
    </div>

    <div class="row mt-5">
      {{> notifications/notificationTable}}
    </div>
  </div>
</div>