
<div class="container p-5">
  <div class="row">

    <div class="row">
      {{> puntos/pointsForm }}
    </div>

    <div class="row mt-5">
      {{> puntos/pointsTable }}
    </div>
  </div>
</div>