
<div class="container p-5">
  <div class="row">

    <div class="col-md-5">
      {{> products/productsForm }}
    </div>

    <div class="col-md-7">
      {{> products/productsTable }}
    </div>
  </div>
</div>