

	<div id="mySidenav" class="sidenav">
	<p class="logo"><span>U</span>-Team</p>
  <a href="/" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
  <a href="/point"class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp;Puntos</a>
  <a href="/task"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp;Desafios</a>
  <a href="/products"class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Productos</a>
  <a href="/notification"class="icon-a"><i class='bx bxs-message-dots' ></i> &nbsp;&nbsp;Notificaciones</a>

  <a href="/empleados"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Usuarios</a>
  {{!-- <a href="#"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Inventory</a> --}}

</div>




{{!-- <!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">AdminHub</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="/">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/products">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Cargar Catalogo</span>
				</a>
			</li>
			<li>
				<a href="/point">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Cargar Puntos</span>
				</a>
			</li>
			<li>
				<a href="/task">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Cargar Desafio</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Message</span>
				</a>
			</li>
			<li>
				<a href="/empleados">
					<i class='bx bxs-group' ></i>
					<span class="text">Cargar Empleados</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR --> --}}