<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Add A notification </h3>
  


<form action="/notification/add" method="post" class="row g-3">
  <form action="/notification/add" method="post">



  <div class="col-auto">
      <label for="title">title</label>
        <input
            id="title"
            class="form-control rounded-0 bg-dark text-white"
            type="text"
            name="title"
            placeholder="title"
            autofocus
        />
  </div>
  <div class="col-auto">
      <label for="description">description</label>
        <input
            id="description"
            class="form-control rounded-0 bg-dark text-white"
            type="text"
            name="description"
            placeholder="description"
            autofocus
        />
  </div>

     <div class="col-auto">
      <label for="username">Write a username </label>
      <input
        id="username"
        class="form-control rounded-0 bg-dark text-white"
        type="text"
        name="username"
        placeholder="username"
        autofocus
      />
  </div>

  <button class="btn btn-primary" type="submit">Add</button>

  
</form>

</div>